/** Add css rules here for your application. */

body,
	html {
		margin:0;
		padding:0;
		color:#000;
		background: white;
	}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}



	body {
				margin: 0;
				padding: 0;
				font-size: 12px;
				font-family: Arial, Verdana, Sans-serif;				
				background-color: #fff;
			}
			
													
			.header {
				position: relative;
				background-color: #fff;
				overflow: hidden;
				padding: 0 20px;
				height: 60px;
				line-height: 60px;
				border-bottom: 5px thin black;
			}
			
			.cols {
				postion: relative;					
				overflow: hidden;
				clear: both;
			}
			
			.nav {
				position: absolute;
				margin-top: 60px;
				top: 0;
				bottom: 0;
				width: 200px;
				height: 100%;
				background-color:	#DFE8F6;	
				border-right: 5px thin black;		
				padding-top: 20px
			}
			
			.cont {				
				padding: 5px 10px 30px 205px;
							
			}


.tree-panel {
	margin-top: 5px;
	background-color			:	#DFE8F6;	

}

.header-panel {
	font-size:		10pt;
	font-weight: 	bold;	
	background-image:url('header_bg1.png');	
}

.navigation-panel {
	font-size:			14pt;	
	color:				#330066;
	background-color:	#DFE8F6;
}


.login-dialog {
	
}

.login-panel {
	
	background-color:	#CCFFFF;
}

.filter-panel {
	
	background-color:	#CCFFFF;
}



